player-connection-mode=Listen
player-connection-guid=3397626784
player-connection-debug=1
player-connection-project-name=2DAction
player-connection-ip=172.24.16.1
player-connection-ip=192.168.121.130
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
